(
A,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
AE,
B,
C,
Ccedilla,
D,
Eth,
E,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
F,
G,
H,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Igrave,
Itilde,
J,
Jcircumflex,
K,
Kcommaaccent,
L,
Ldot,
Lslash,
M,
N,
Nacute,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
T,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
a,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
ae,
b,
c,
ccedilla,
d,
eth,
e,
eacute,
ecircumflex,
edieresis,
egrave,
f,
g,
h,
hbar,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
itilde,
ij,
j,
dotlessj,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
ldot,
lslash,
m,
n,
nacute,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
rcaron,
rcommaaccent,
s,
germandbls,
t,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
v,
w,
x,
y,
yacute,
ydieresis,
z,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
space,
nbspace,
.notdef,
.null,
CR,
DEL,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
uni00AD,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
Euro,
cent,
currency,
dollar,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
plusminus,
logicalnot,
asciitilde,
asciicircum,
mu,
percent,
dieresis,
grave,
acute,
circumflex,
caron,
ring,
tilde,
macron,
cedilla,
dieresis.cap,
grave.cap,
acute.cap,
circumflex.cap,
caron.cap,
ring.cap,
tilde.cap,
uni0001,
uni0002,
uni0003,
uni0004,
uni0005,
uni0006,
uni0007,
uni0008,
HT,
LF,
DLE,
DC1,
DC2,
DC3,
DC4,
uni0015,
uni0016,
uni0017,
uni0018,
uni0019,
RS,
US,
commaaccent
)